<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<div id='root' />
<div id="content"></div>

<script @*type="text/babel"*@>
        function logRandom() {
            console.log(Math.random());
        }

        function Button() {
            const [counter, setCounter] = useState(0);
            return <button onClick={() => console.log(Math.random())}>{counter}</button>
    }

    ReactDOM.render(<Hello />, document.getElementById('content'));
</script>